body {
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Nunito', sans-serif;
}

h1 {
	margin-bottom: 0;
	background-color: #fff;
	text-transform: uppercase;
	letter-spacing: 3px;
	border-radius: 10px;
}

h2 {
	text-transform: uppercase;
	left: 5px;
	color: white;
}

.about {
	color: black;
	width: 100%;
	font-size: 18px;
	line-height: 1.5;
	/*background-color: white;*/
}
#me {
	height: 200px; /*height sets the height of an element.*/
	width: 200px;	/*width sets the width of an element*/
					/* px is for pixels */
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	margin-top: 50px;				

}

.footer {
	color: black;
	/*background-color: white;*/
}

.container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}